[Desktop Entry]
Name=Torus Election GUI
Comment=Visualize leader election in a two-dimensional torus network
Exec=torus-election-gui
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Education;Software Engineering;
